{% extends "anime/base.html" %}
{% block title %} User Home {% endblock %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user_home.css' %}">
{% endblock %}

{% block content %}
<div class="user-home-container">
    <div class="user-info">
        <h1>Welcome, {{ user.username }}</h1>
        <p>Member since: {{ user.date_joined }}</p>
        <p>Email: {{ user.email }}</p>
    </div>

    <div class="user-anime-list">
        <h2>Your Anime List</h2>
        <div class="anime-list">
            {% for anime in user.anime_list.all %}
            <a href="{% url 'anime:anime_details' anime.unique_id %}" class="anime-card" title="{{ anime.name }}">
                <div class="anime-item">
                    <img src="{{ anime.imagelink }}" alt="{{ anime.name }}" class="anime-poster">
                    <div class="anime-info">
                        <h3>{{ anime.name }}</h3>
                        <p>{{ anime.name_english }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
    