:root {
    --background-color: #121212;
    --primary-text-color: #e0e0e0;
    --secondary-text-color: #b0b0b0;
    --accent-color: #3f3f3f;
    --highlight-color: #70bcff;
    --card-background-color: #1e1e1e;
    --section-background-color: #2a2a2a;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --border-radius: 10px;
    --transition-speed: 0.3s;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    color: var(--highlight-color);
}

a {
    text-decoration: none;
    color: var(--highlight-color);
}

a:hover {
    color: lighten(var(--highlight-color), 10%);
}

.anime-details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 40px;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px var(--box-shadow-color);
}

.anime-poster-container {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.anime-poster-image {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px var(--box-shadow-color);
}

/* From Uiverse.io by barisdogansutcu */ 
.container {
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
    color: rgb(255, 255, 255);
  }
  
  #favorite {
    display: none;
  }
  
  #favorite:checked + .container svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
  }
  
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
}

#favorite + .container .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

#favorite + .container .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
}

#favorite + .container .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
}

#favorite:checked + .container .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
}

#favorite + .container .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
}

#favorite:checked + .container .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
}  

.anime-meta-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--secondary-text-color);
}

.anime-info {
    flex: 2;
    padding: 20px;
    background-color: var(--section-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px var(--box-shadow-color);
}

.anime-info p {
    margin: 10px 0;
    font-size: 1em;
}

.statistics-section, .score-distribution-section, .recommendations-section {
    background-color: var(--card-background-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px var(--box-shadow-color);
}

.statistics-section p, .score-distribution-section ul li {
    color: var(--secondary-text-color);
}

.score-distribution-section ul {
    list-style: none;
    padding-left: 0;
}

.score-distribution-section ul li {
    margin: 5px 0;
}

.score-distribution-section ul li:before {
    content: '•';
    color: var(--highlight-color);
    margin-right: 10px;
}

.recommendations-slider {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: var(--highlight-color) var(--section-background-color);
    align-items: center;
}

.recommendations-slider::-webkit-scrollbar {
    height: 8px;
}

.recommendations-slider::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
    border-radius: var(--border-radius);
}

.recommendation-card {
    background-color: var(--section-background-color);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-right: 10px;
    min-width: 150px;
    box-shadow: 0 4px 10px var(--box-shadow-color);
    transition: transform var(--transition-speed);
    zoom: 120%;
}

.recommendation-card:hover {
    transform: scale(1.05);
}

.recommendation-poster {
    width: 100%;
    border-radius: 5px;
}

.recommendation-title {
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 10px;
}